FORMAT: 1A
HOST: http://fc.lazy-ants.com/

# filecessor

# Group Authentication

## Authentication [/auth]

### Get token [POST]

To authenticate all requests send header Authorization with value "Bearer \<token\>"

+ Request (application/json)

        {"name": "user1", "password": "test"}
        
+ Response 201 (application/json)

        {"token":"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ1c2VyMSJ9.5FU0GIpoAlcnFl2Fj_S5evJlJYVs1a7uO14pKtjBo_gpZa5Dejizw_5cSuUNAFfLjvyVH9XjB8wa2EBJOlTGVw"}

# Group Photo upload

After photos upload exif and colors fields are empty because photo is handling asynchronously from queue

## Photo upload file [/api/photos/upload]

### Upload image file [POST]

+ Request (multipart/form-data; boundary=---BOUNDARY)

        -----BOUNDARY
        Content-Disposition: form-data; name="file"; filename="image.jpg"
        Content-Type: image/jpeg
        Content-Transfer-Encoding: base64

        /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
        HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIA
        AhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEB
        AAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AL+AD//Z
        -----BOUNDARY
        
+ Response 201 (application/json)

        {"photo":{"id":"56f9431ee4b078b68684b451","colors":null,"createdAt":"2016-03-28 14:43:42","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":null},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f9431ee4b078b68684b451"},{"rel":"original","href":"http://192.168.99.100/original/56f9431ee4b078b68684b451.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f9431ee4b078b68684b451.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f9431ee4b078b68684b451.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f9431ee4b078b68684b451.jpg"}]}

## Photo load [/api/photos/url]

### Load photo by URL [POST]

+ Request (application/json)

        {"url": "https://pp.vk.me/c627325/v627325578/3febb/oGDPvfsdk.jpg"}
        
+ Response 201 (application/json)

        {"photo":{"id":"56f9431ee4b078b68684b451","colors":null,"createdAt":"2016-03-28 14:43:42","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":null},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f9431ee4b078b68684b451"},{"rel":"original","href":"http://192.168.99.100/original/56f9431ee4b078b68684b451.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f9431ee4b078b68684b451.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f9431ee4b078b68684b451.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f9431ee4b078b68684b451.jpg"}]}

## Video preview [/api/photos/video-preview]

### Load video preview image [POST]

Can load from youtube, vimeo

+ Request (application/json)

        {"url": "https://www.youtube.com/watch?v=XlZUT4felfE"}
        
+ Response 201 (application/json)

        {"photo":{"id":"56f9455de4b078b68684b452","colors":null,"createdAt":"2016-03-28 14:53:17","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":null},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f9455de4b078b68684b452"},{"rel":"original","href":"http://192.168.99.100/original/56f9455de4b078b68684b452.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f9455de4b078b68684b452.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f9455de4b078b68684b452.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f9455de4b078b68684b452.jpg"}]}
        

# Group Get photos

## All photos [/api/photos{?page}{?size}]

### Show all paginated photos [GET]

+ Parameters
    + page (optional, number, `0`) ... page number from
    + size (optional, number, `20`) ... page size

+ Response 200 (application/json)

        {"links":[{"rel":"self","href":"http://192.168.99.100/api/photos"}],"content":[{"photo":{"id":"56f909d0e4b099a5134e3193","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:39:12","extension":"jpg","userId":"user1","contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f909d0e4b099a5134e3193"},{"rel":"original","href":"http://192.168.99.100/original/56f909d0e4b099a5134e3193.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f909d0e4b099a5134e3193.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f909d0e4b099a5134e3193.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f909d0e4b099a5134e3193.jpg"}]},{"photo":{"id":"56f909f7e4b099a5134e3194","colors":["#3b60af","#9065b5","#c07a66"],"createdAt":"2016-03-28 10:39:51","extension":"jpg","userId":"user1","contentSize":37308,"filename":"56e43b91e4b02bbf903d70a8.jpg","exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":96.0,"pixelYDimension":96.0,"width":570,"height":380,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f909f7e4b099a5134e3194"},{"rel":"original","href":"http://192.168.99.100/original/56f909f7e4b099a5134e3194.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f909f7e4b099a5134e3194.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f909f7e4b099a5134e3194.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f909f7e4b099a5134e3194.jpg"}]},{"photo":{"id":"56f90a3ce4b099a5134e3195","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:41:00","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f90a3ce4b099a5134e3195"},{"rel":"original","href":"http://192.168.99.100/original/56f90a3ce4b099a5134e3195.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f90a3ce4b099a5134e3195.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f90a3ce4b099a5134e3195.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f90a3ce4b099a5134e3195.jpg"}]},{"photo":{"id":"56f90aa1e4b099a5134e3196","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:42:41","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f90aa1e4b099a5134e3196"},{"rel":"original","href":"http://192.168.99.100/original/56f90aa1e4b099a5134e3196.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f90aa1e4b099a5134e3196.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f90aa1e4b099a5134e3196.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f90aa1e4b099a5134e3196.jpg"}]}],"page":{"size":20,"totalElements":4,"totalPages":1,"number":0}}
        
## My photos [/api/me/photos{?page}{?size}]

### Show all my paginated photos [GET]

+ Request (application/json)
    + Headers
    
            Authorization : Bearer <token>

+ Parameters
    + page (optional, number, `0`) ... page number from
    + size (optional, number, `20`) ... page size

+ Response 200 (application/json)

        {"links":[{"rel":"self","href":"http://192.168.99.100/api/photos"}],"content":[{"photo":{"id":"56f909d0e4b099a5134e3193","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:39:12","extension":"jpg","userId":"user1","contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f909d0e4b099a5134e3193"},{"rel":"original","href":"http://192.168.99.100/original/56f909d0e4b099a5134e3193.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f909d0e4b099a5134e3193.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f909d0e4b099a5134e3193.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f909d0e4b099a5134e3193.jpg"}]},{"photo":{"id":"56f909f7e4b099a5134e3194","colors":["#3b60af","#9065b5","#c07a66"],"createdAt":"2016-03-28 10:39:51","extension":"jpg","userId":"user1","contentSize":37308,"filename":"56e43b91e4b02bbf903d70a8.jpg","exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":96.0,"pixelYDimension":96.0,"width":570,"height":380,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f909f7e4b099a5134e3194"},{"rel":"original","href":"http://192.168.99.100/original/56f909f7e4b099a5134e3194.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f909f7e4b099a5134e3194.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f909f7e4b099a5134e3194.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f909f7e4b099a5134e3194.jpg"}]},{"photo":{"id":"56f90a3ce4b099a5134e3195","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:41:00","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f90a3ce4b099a5134e3195"},{"rel":"original","href":"http://192.168.99.100/original/56f90a3ce4b099a5134e3195.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f90a3ce4b099a5134e3195.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f90a3ce4b099a5134e3195.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f90a3ce4b099a5134e3195.jpg"}]},{"photo":{"id":"56f90aa1e4b099a5134e3196","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:42:41","extension":"jpg","userId":null,"contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f90aa1e4b099a5134e3196"},{"rel":"original","href":"http://192.168.99.100/original/56f90aa1e4b099a5134e3196.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f90aa1e4b099a5134e3196.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f90aa1e4b099a5134e3196.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f90aa1e4b099a5134e3196.jpg"}]}],"page":{"size":20,"totalElements":4,"totalPages":1,"number":0}}


## Photo [/api/photos/{id}]

### Get photo resource [GET]

+ Parameters
    + id (required, string, `56f909d0e4b099a5134e3193`) ... photo id

+ Response 200 (application/json)

        {"photo":{"id":"56f909d0e4b099a5134e3193","colors":["#afafaf","#3b60af","#9065b5","#f0c0cc"],"createdAt":"2016-03-28 10:39:12","extension":"jpg","userId":"user1","contentSize":0,"filename":null,"exif":{"datetimeOriginal":null,"exposureTime":null,"aperture":null,"focalLength":null,"colorSpace":null,"pixelXDimension":1.0,"pixelYDimension":1.0,"width":480,"height":360,"iso":null,"latitude":0.0,"longitude":0.0,"camera":null,"lens":null}},"links":[{"rel":"self","href":"http://192.168.99.100/api/photos/56f909d0e4b099a5134e3193"},{"rel":"original","href":"http://192.168.99.100/original/56f909d0e4b099a5134e3193.jpg"},{"rel":"resize","href":"http://192.168.99.100/resize_{width}x{height}/56f909d0e4b099a5134e3193.jpg"},{"rel":"crop","href":"http://192.168.99.100/crop_{width}x{height}/56f909d0e4b099a5134e3193.jpg"},{"rel":"coordinates","href":"http://192.168.99.100/resize_coordinates_{x1}x{y1}_{x2}x{y2}/56f909d0e4b099a5134e3193.jpg"}]}